* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #071a2d;
  color: white;
}

/* hero Styling */

 .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: #2196f3;
  color: white;
  font-size: 1rem;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 400px;
  max-width: 100%;
}

/* Navbar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo {
  height: 90px;
  width: auto;
}

.logo-container h2 {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #8bc34a;
}

.card-section {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #0f2740;
  padding: 25px;
  border-radius: 12px;

  border: 1px solid #1e3a5f;
}

.card h3 {
  margin-bottom: 10px;
}

.page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
}

.login-btn {
  background: #2196f3;
  color: white;
  border: none;

  padding: 12px 24px;
  border-radius: 8px;

  cursor: pointer;
}

.footer {
  background: #051321;

  padding: 30px;
  text-align: center;

  margin-top: 50px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .card-section {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.search-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

.search-section h2 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.search-box input {
  flex: 1;
  min-width: 250px;

  padding: 12px;
  border-radius: 8px;
  border: none;
}

.search-box button {
  padding: 12px 24px;

  border: none;
  border-radius: 8px;

  background: #2196f3;
  color: white;
  cursor: pointer;
}

.updates-section {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 40px;
}

.updates-section h2 {
  margin-bottom: 20px;
}

.update-card {
  background: #0f2740;

  padding: 20px;
  border-radius: 10px;

  margin-bottom: 15px;
}